@{
    ViewData["Title"] = "What is PowerRun?";
}
<div class="about">

    <h1>@ViewData["Title"]</h1>

    <div class="WhatIsPowerRun">
        <p>
            PowerRun is a tool runners can use to help better track how successful their runs are. Each workout is assigned a "PowerScore", a number that corresponds to how good your workout was.
            This number is calculated taking into account pace, time, and distance.
        </p>
        <br />

        <span>Any questions or feedback? Please contact me at eknop23@gmail.com</span>
    </div>
</div>
