<body>
    <div class="homePhoto">
        <div class="homeHeading">
            <h1>PowerRun</h1>
        </div>

        <span><a href="~/Run/AddRun">Click here to enter a new run</a></span>

    </div>
</body>